body {
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}